<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
      <a class="nav-link0" href="#">RSS Facts Feed</a>
      <a class="nav-link1" href="/">home</a>
      <a class="nav-link2" href="/search">search</a>
    </nav>
  </header>
  