
body {
  font-family: Arial, sans-serif;
  background-color: #f7f8fa;
}

.App {
  max-width: 800px;
  margin: 40px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center
}