
@import url('https://fonts.cdnfonts.com/css/sega-logo-font');



body {
    background-image: url(Img/circuit-pattern.png);
background-color: rgb(19, 107, 15);
border-radius: 050%;


}




header {
    background-image: url(Img/robot.png);
    background-size: 10%;
   display: flex; 
    background-repeat: no-repeat;
    background-color: #20232a;
    color: #ffffff;
    box-shadow: 0 0 10px rgb(58, 242, 7);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    
  }
  
  h1 {
    margin: 0;
    font-size: 36px;
    font-family: 'SEGA LOGO FONT', sans-serif;
  }
  
  input[type="text"] {
    border: none;
    border-radius: 25px;
    padding: 12px 20px;
    margin: 10px;
    width: 300px;
    font-size: 18px;
    background-color: #f2f2f2;
  }
  
  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .robot-card {
    background-image: url(Img/card-pattern.png);
    background-color: #4186a8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    width: 300px;
    border-radius: 10%;
    display: inline-block;
    text-align: center;
  }
  
  img {
    background-color: rgb(47, 79, 79); 
    box-shadow: 0 0 10px rgba(47, 47, 189, 0.22);
    border-radius: 70%;
    display: block;
    margin: 0 auto;
  }

  #robot-list{
    text-align:center;
    margin:auto auto auto 0;

  }